**/*.rs.bk
/*/target
target/
build/
bin/
.env/
.env.dev/
.vscode/
.zed/
.idea/
**/.DS_Store
/.cargo
/nym-vpn-core/.cargo

# uniffi binaries
nym-vpn-core/crates/nym-vpn-rpc-uniffi/generated
nym-vpn-core/crates/nym-vpn-rpc-uniffi/NymVPNRpc
nym-vpn-core/crates/nym-vpn-lib-uniffi/generated
nym-vpn-core/crates/nym-vpn-lib-uniffi/NymVPNLib

# mkdocs
site/
